@page "/"
<div class="container-fluid "> 
        <div class="row">
            <div class="col-lg-6 p-3 bg-flatpurse-primary text-white">
                <div class="container">
                    <div class="content">
                        <div class="top-logo"> <MudImage Fluid="true" Src="images/Flatpurse-logo-oneColour-rgb@600.png" /> </div>
                        <h1> Business at <br /> The Speed of <br /> Thought </h1>
                        <p>
                            Grow Your Business Online/Offline With <br /> Our Inventory Management Software
                        </p>

                       @* <div class="download">
                            <a href="#" class="btn btn-gradient"> Download Now </a>
                        </div>*@
                    </div>
                </div>
        </div>
        <div class="col-lg-6  p-3 bg-white text-white">
                <div class="container">
                    
                    <ul class="nav justify-content-center text-flatpurse-primary">
                        <li class="nav-item">
                            <a class="nav-link" href="#">PRICING</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login" target="_self" >LOGIN</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="https://flatpurse.org/start-your-free-14-day-trial-of-flatpurse-pos/" target="_blank">REGISTER</a>
                        </li>
                    </ul>
                    
                    <div class="">
                        <MudImage Fluid="true" Src="images/flatpurseAssetsm.png"/>
                    </div>
                </div>
            </div>
        </div>

    </div>

@code {

}
