@inherits LayoutComponentBase

<div class="row">
   
        <div class="col-lg-6 left">
        <div class="content">
                <div class="logo"> <img src="images/Flatpurse-logo-oneColour-rgb@600.png" width="201" height="39" /> </div>
               
                    <h1> Business at <br/> The Speed of <br/> Thought </h1>

                    <p>
                        Grow Your Business Online/Offline With<br/>
                        Our Inventory Management Software
                    </p>

                    <div class="download">
                        <button type="button" class="btn btn-gradient" > Download Now </button>
                    </div>
                </div>
        </div>
        <div class="col-lg-6 right">
            <div class="container">
                <div class="top">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">PRICING</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">REGISTER</a>
                        </li>

                    </ul>
                </div>
                <div class="imgasset">
                <MudImage Fluid="true" Src="images/flatpurseAsset 9@300x.png"  Alt="Flatpurse ad"  />
                   
                </div>
            </div>
        </div>
    

   
</div>

@code {

}
